# Extension ignores
*.log
*.db
*.pyc
*.pid
*.xml
*.csr
*.crt
*.key
*.conf
*.json
.*
*.db-journal

# Directory (contents) ignores
.cloud
.storage
deps

# Specific file ignores
.config_entries.json
.homekit.state
.ios.conf
.spotify-token-cache
.tradfri_psk.conf
.uuid
aircast.xml
core
known_devices.yaml
ip_bans.yaml
options.xml
OZW_Log.txt
pyozw.sqlite
secrets.yaml
zwcfg_*
zwscene.xml

# Some other generic stuff
.vscode
.theia

# Specific keeps
!.gitkeep


@ -1,23 +1,34 @@
*.pid
*.xml
*.csr
*.crt
*.key
*.conf
*.json
OZW_Log.txt
home-assistant.log
home-assistant_v2.db
phue.conf
*.db-journal
lib
deps
tts
secrets.yaml
known_devices.yaml
pyozw.sqlite
ip_bans.yaml
.*
!/.gitignore
config
